body {
  font-family: "Roboto", sans-serif;
  background-color: white;
color: #434455;
}
body a,
ul {
  text-decoration: none;
  list-style-type: none;
  color: #434455;
}
h1,h2,h3,h4,h5,h6,ul,p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  margin: auto;
}
.about, .team, .portfolio {
  padding: 120px 0;
}
.header {
  border-bottom: 1px solid #e7e9fc
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  flex-direction: row;
}
.nav-content {
  display: flex;
  flex-direction: row;
}
.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-item {
color: #2e2f42;
}
.nav-list:not(:last-child) {
  margin-right: 40px;
}
.logo, .nav-list, .address-list {
  margin-top: 24px;
    margin-bottom: 24px;
}
.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.address-content {
  display: flex;
  flex-direction: row;
}
.address {
    font-style: normal;
}
.address-list {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.address-list:not(:last-child){
  margin-right: 40px;
}
.address-list a:hover,
.address-list a:focus {
  color: #404bbf;
}
.order {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 188px 0;
  background-color: #2e2f42;
}
.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-title {
  max-width: 496px;
  margin-bottom: 48px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.order-button {
  color: white;
  background-color: #4d5ae5;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  padding: 16px 32px;
  border-radius: 10px;
  box-shadow: none;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.about-content {
  display: flex;
  flex-direction: row;
}
.about-list {
  flex-basis: calc((100%-72px)/4);
}
.about-list:not(:last-child) {
  margin-right: 24px;
}
.about-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}
.about-description {
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.team {
  background-color: #f4f4fd;
}
.team-container {
  align-items: center;
}
.team-content {
  display: flex;
  margin-top: 72px;
  background-color: transparent;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list {
  flex-basis: calc((100%-72px)/4);
    background-color: #FFFFFF;
    border-radius: 4px;
      box-shadow: 0px 1px 6px 0px #2E2F4214;

}
.team-list:not(:last-child) {
  margin-right: 24px;
}
.team-list-content {
  margin: 32px 0;
}
.team-name {
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-description {
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
}
.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-list {
  border: solid 1px #E7E9FC;
}
.portfolio-list:not(:nth-child(3n+3)){
  margin-right: 24px;
}
.portfolio-list:nth-child(-1n+3) {
  margin-bottom: 48px;
}
.portfolio-list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 32px;
  color: #2e2f42;
}
.portfolio-list-content {
  margin: 32px 0 32px 16px;
}
.portfolio-list-description {
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.footer {
  background-color: #2e2f42;
}
.footer-container {
  padding: 100px 0;
}
.footer-description {
  max-width: 264px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
}
.footer .logo {
  color: #f4f4fd;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: left;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-logo-item {
    color: #F4F4FD;
}